name: Bun CI
on: workflow_call

jobs:
  bun-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: oven-sh/setup-bun@v2

      - run: bun install
      - run: bun run ci --reporter=github
      - run: bun run test
