name: Deno CI
on: workflow_call

jobs:
  deno-ci:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - run: deno fmt --check
      - run: deno lint
