name: PNPM Biome CI
on: workflow_call

jobs:
  pnpm-biome-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - run: pnpm i --frozen-lockfile
      - run: pnpm run ci --reporter=github
      - run: pnpm run test
